// Imports Variáveis

@import '../abstract/variaveis';

.banner {
    background-color: $cor-terceira;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}