@charset "UTF-8";

.card {
    background-color: var(--cor-de-fundo-destaque);
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.25);
    border-radius: .625rem;
    margin: 1rem;
    padding: 1rem;
    font-family: var(--fonte-primaria)
}

.card__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.card__descricao {
    
}

.card__descricao__titulo {
    color: var(--cor-titulo-destaque);
    font-weight: 700;
}

.card__descricao__titulo-livro {
    color: var(--cor-titulo-destaque-secundaria);
    font-size: 1.125rem;
    font-weight: 700;
    margin: .5rem 0;
}

.card__descricao__texto {
    font-size: .875rem;
}

.card__descricao__imagem {

}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.card__botoes__lista {
    display: flex;
}

.card__botoes__lista__item {
    
}

.card__botoes__ancora {
    background-color: var(--cor-titulo-destaque);
    padding: 1rem 2.21rem;
    text-decoration: none;
    color: var(--cor-branco);
    font-weight: 700;
}